<h1>Hallo!</h1>
<div class="spacer"></div>
<div>

  <form action="" [formGroup]="welcomeScreenForm" (ngSubmit)="this.onSubmit()">
    <h3>Warst du schon mal hier?</h3>
    <div class="spacer"></div>
    <div class="form-inline">
      <label><input type="radio" id="yes" formControlName="seenBefore" value="yes"><span>Ja</span></label>
      <label><input type="radio" id="no" formControlName="seenBefore" value="no"><span>Nein</span></label>
    </div>

    <div formGroupName="personalData">
      <div class="spacer"></div>
      <label for="age">Alter:</label>
      <span class="right-align">
        <input formControlName="age" type="text" id="age">
      </span>
      <br>
      <label for="gender">Geschlecht:</label>
      <span>
        <select formControlName="gender" id="gender">
      <option *ngFor="let genderOption of this.genders">
        {{genderOption}}
      </option>
    </select>
      </span>
      <br>
      <label for="postcode">Postleitzahl:</label>
      <input formControlName="postcode" type="text" id="postcode">

    </div>

    <br>

    <div class="spacer"></div>
    <div class="right-align">
      <button type="submit" (click)="this.nextScreen()"
              [disabled]="welcomeScreenForm.pristine"
              class="btn btn-default">
        Weiter
      </button>
    </div>

  </form>

  <app-progress-bar [progressValue]="20"></app-progress-bar>

</div>
