.form-inline label {
  justify-content: left;
  float: left;
  margin-right: 3em;
}

.form-inline label span {
  padding-left: 0.3em;
}

.right-align {
  text-align: right;
  width: 100%;
  padding: 0;
}

